.content {
  border: 2px solid grey;
  border-radius: 30px;
  box-shadow: 10px 10px 10px 10px lightgray;
}

.darkMode .content {
  box-shadow: 10px 10px 10px 10px rgb(43, 43, 43);
}

.content h1 {
  text-align: center;
}

.fillOut {
  display: flex;
  justify-content: center;
}

form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.youWillBeFlex {
  display: block;
}

#chosedCarDetails {
  text-align: end;
}

#buyNow {
  background-color: red;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 20px;
  border: none;
  border-radius: 10px;
}

#buyNow:hover {
  background-color: rgb(170, 0, 0);
}

.accesoriesBox {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.accesories {
  border: 3px solid gray;
  border-radius: 10px;
  padding: 5px;
  margin: 5px;
  width: 280px;
}

.darkMode .accesories {
  border: 3px solid white;
}

.accesoriesButton {
  background-color: gray;
  cursor: pointer;
  border-radius: 5px;
}

.accesoriesButton:hover {
  background-color: lightgray;
}

.visibilityHidden {
  visibility: hidden;
}

footer {
  text-align: left;
  margin: 30px;
}

@media only screen and (min-width: 750px) {
  .youWillBeFlex {
    display: flex;
    justify-content: space-around;
  }

  .helpMeCenterContent {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
  }

  .content {
    width: 75%;
  }
}
