.searchBar {
    margin: 5px;
    padding: 5px;
    margin-left: 300px;
}

#allCars {
    margin-left: 300px;
}

.carBox {
    display: flex;
    border: solid lightgray 1px;
    margin: 15px 0px;
    max-width: 1000px;
    border-radius: 5px;
    cursor: pointer;
    overflow: hidden;
}

.carBox:hover {
    box-shadow: 0px 0px 5px 2px black;
}

.carBox:hover .h1hover {
    background-color: black;
    color: ghostwhite;
}

.carBox img {
    display: inline-block;
    height: auto;
    max-width: 400px;
}

.carInformation {
    margin-left: 10px;
}

.price {
    color: rgb(173, 1, 1);
}

.hidden {
    display: none;
}